name: boreholes-dev
channels:
  - conda-forge
dependencies:
# prod dependencies; needs to be a strict copy of environment-prod.yml
  - python==3.10
  - boto3
  - pandas
  - levenshtein
  - pathlib==1.0.1
  - python-dotenv==1.0.1
  - click==8.1.7
  - PyYAML==6.0.1
  - scikit-learn==1.4.0
  - pip
# dev dependencies
  - matplotlib==3.8.0
  - isort==5.13.2
  - jupyterlab==4.1.3
  - black==24.2.0
  - pre-commit==3.6.2
  - pytest==8.1.1
  - pip:
# prod pip dependencies; needs to be a strict copy of environment-prod.yml
      - amazon-textract-textractor
      - backoff
      - PyMuPDF==1.23.26
      - opencv-python-headless
      - -e .
# dev pip dependencies
      - mlflow==2.11.1