# All parameters used for the line detection pipeline
lsd:
  scale: 1
  sigma_scale: 0.6
  quant: 2.0
  ang_th: 22.5
  log_eps: 0.0
  density_th: 0.7
  n_bins: 1024

pdf_scale_factor: 2

vertical_lines_threshold: 0.6

line_merging_params:
  merging_tolerance: 3.  # maximum distance between two lines that are merged
  angle_threshold: 5  # maximum difference in degrees two line segments can have in order to be merged.