
block_line_ratio: 0.20
left_line_length_threshold: 7
img_template_probability_threshold: 0.62

depth_column_params:  # these params should be optimized as soon as there is reliable evaluation data
  noise_count_threshold: 1.25
  noise_count_offset: 2.5

default_language: de

material_description:
  de:
    including_expressions:
      - sand
      - silt
      - kies
      - asphalt
      - humus
      - braun
      - grau
      - weich
      - hart
      - wurzel
      - belag
      - stein
      - beige
      - beton
      - kreide
      - mergel
      - kernmaterial
      - dito
    excluding_expressions:
      - herr
      - ende
      - profil
      - beschreibung
      - signaturen
      - mischprobe
      - projekt
      - ort
      - adresse
      - wetter
      - pumpversuch
      - kernbohrung
      - bohrradius

  fr:
    including_expressions:
      - sol
      - végétal  # remove accents generally; ocr might be wrong
      - dallage
      - terre
      - bitume
      - bitumineux
      - grave d'infrastructure  # what happens if we remove this?
      - sable
      - limon
      - gravier
      - asphalte
      - humus  # hummus maybe?
      - brun
      - gris
      - grise
      - mou
      - dur
      - dure
      - ferme
      - racine
      - revetement
      - pierre
      - beige
      - beton
      - craie
      - marne
      - materiau
      - matrice sableuse
      - enrobé  # accent --> check what happens if it's removed
      - terrain
      - remblais
      - remblai
      - molasse
      - phase
      - formations
      - limoneuse
      - argileuse
      - argileux
      - mousse
    excluding_expressions:
      - monsieur
      - fin
      - profil
      - description
      - signatures
      - echantillon mixte
      - projet
      - lieu
      - adresse
      - temps
      - essai de pompage
      - carottage
      - rayon de forage
      - remarque
      - piezometre
      - profondeur
      - désignation


coordinate_keys:
  - Koordinaten
  - Koordinate
  - Koord.
  - coordinates
  - coordinate
  - coordonnés
  - coordonn
