# --- Striplog detection configuration ---------------------------------------

dpi: 144    # DPI for locating striplog/table

# Adaptive thresholding (OpenCV) parameters
# https://docs.opencv.org/4.x/d7/d1b/group__imgproc__misc.html#ga72b913f352e4a1b1b397736707afcde3
threshold:
    block_size: 5   # Size of neighborhood for local mean (must be odd)
    c: 2            # Constant subtracted from the local mean
    clean_size: 25  # Size of cleaning pattern to remove dot-like strucutre on image.
# Table / striplog grid (pixels at dpi.table)
table:
    min_line_length: 20     # Minimum length for a segment in pixels to be considered a line
    min_line_dilation: 2    # Dilation in pixels to bridge small gaps in lines before line detection
    margin_vert_line: 5     # Search area around vertical line for section connections
    min_area_ratio: 0.7     # Minimum rectangularity (0–1). 1 = perfect rectangle
    min_cell_height: 10     # Minimum cell height in pixels
    min_cell_width: 30      # Allowed cell width range in pixels
    max_cell_width: 250

# Which scoring components to use when ranking/validating candidates
score:
    toggle:
        crowding: false     # Consider image crowding density as pattern
        text_overlap: true  # Penalize overlap with detected text lines
        pattern: true       # Use pattern-based heuristics (e.g., circle, line)

    # Crowding parameters (only if score.toggle.crowding=true)
    crowding:
        kernel_size: 10
        margin: 5

    # Text overlap parameters (only if score.toggle.text_overlap=true)
    text_overlap:
        tau: 3            # Length tolerance for text within the region.
        penalty: 2        # Exponent controlling the steepness of the penalty curve.
        threshold: 0.1    # Decision threshold on the final penalty.

    # Circle detection parameters (only if score.toggle.pattern=true)
    pattern:
        # Area connection
        max_dbscan_ratio: 0.75  # Distance between deteted circle to consider as same cluster (proposrtional to section width)

        # Circle detection parameters
        hough_circles:
            dp: 2             # Accumulator resolution inverse ratio (accum_res = img_res / dp)
            min_dist: 3       # Minimum center-to-center distance between circles (px)
            param1: 30        # Upper threshold for internal Canny edge detector
            param2: 25        # Accumulator threshold for center detection (higher = fewer circles)
            min_radius: 1     # Minimum circle radius (px)
            max_radius: 8     # Maximum circle radius (px)

        # Line Segment Detector parameters
        lsd:
            scale: 1            # Image scale factor prior to detection (1 = original resolution)
            sigma_scale: 0.6    # Gaussian sigma for image smoothing (relative to scale)
            quant: 2.0          # Gradient quantization; lower = more sensitive, more segments
            ang_th: 22.5        # Angle tolerance in degrees for region growing/merging
            log_eps: 0.0        # -log10(eps) for NFA; larger (or smaller eps) = stricter validation
            density_th: 0.7     # Minimum region point density for a valid segment (0–1)
            n_bins: 1024        # Histogram bins for gradient angle quantization
            max_line_ratio: 0.9 # Longest line segments to consider wrt section width
            min_line_ratio: 0.1 # Shortest line segments to consider wrt section width
            max_margin: 5       # Distance with border to avoid table line detection.

# Merging parameters
merge:
    confidence_seed: 0.6    # Global confidence threshold for accepting a detected striplog section
    confidence_graph: 0.0   # Minimal confidence for section to be connected to seed
    min_sections: 2         # Minimal number of detected sections required to form a valid strip log
    r_tol_width: 0.2        # Maximum allowed relative difference in width between two sections
